services:
  - type: web
    name: mon-portfolio-api
    runtime: node
    env: node
    plan: free
    buildCommand: npm install
    startCommand: node server/server.js
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 3000
